* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}




.cursos-titulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 82px;
    padding-top: 81px;
    padding-bottom: 95px;
    text-align: center;
    width: 50%;

}

.cursos-titulo h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    text-transform: capitalize;
    color: #FF4081;
    width: 20%;
    text-align: left;
    margin-left: 16vw;
    margin-top: 10vh;
}


.cursos-titulo p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
    width: 20%;
    text-align: left;
    margin-left: 16vw;
    margin-bottom: 10vh;
}

.cursos-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 53px;
    padding-bottom: 68px;
}

.cursos-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 53px;
}

.cursos-info p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: -16px;
}

.cursos-info a {
    background: #419488;
    border-radius: 62px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 43px 12px 43px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    width: 25%;
}


h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    margin-top: -40px;
}

.cursos-box1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 53px;
    padding-bottom: 68px;
    padding-top: 107px;
}



.cursos-box2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 53px;
    padding-bottom: 202px;
    padding-top: 93px;
}

@media (max-width:820px) {
    .cursos-titulo {
        justify-content: center;
        align-items: center;
    }

    .cursos-titulo h1 {
        width: 100vw;
        text-align: center;
    }

    .cursos-titulo p {
        width: 100vw;
        text-align: center;
        margin-bottom: 1px;
    }

    .cursos-box {
        justify-content: center;
        align-items: center;
        /* padding-bottom: 68px; */

    }

    h2 {
        text-align: center;
    }

    .cursos-info a {
        width: 100vw;

    }
}