* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.banner {
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

#logoheader {
    margin-left: 6vw;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-right: 7vw;
    gap: 3vw;
}

.hmenu {
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

@media (max-width:525px) {
    .navigation {
        flex-direction: column;
    }

    .hmenu {
        font-size: 15px;
    }
}

main {
    background: #F7F7F7;
}

.investimento {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    padding-bottom: 81px;
    padding-right: 50px;
    background: white;
}

.investimento-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.investimento-img {
    margin-right: 100px;
}

h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    color: #FF4081;
}

.investimento-texto p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}

.video-aula {
    display: flex;
    justify-content: space-evenly;
    padding-top: 75px;
    padding-bottom: 73px;
    background: #F7F7F7;
    padding-left: 30px;
    padding-right: 30px;
}

.infoframe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.infotexo {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

hr {
    height: 5px;
    width: 90vw;
    background: #C4C4C4;
    margin: auto;
}

@media (max-width: 880px) {
    .topcursor {
        display: none;
    }

    .aula {
        flex-wrap: wrap;
    }
}

.rodape {
    height: 207px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2E948A;
}

.navig {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.fmenu {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin-right: 5vw;
}

.buttons a {
    background: #419488;
    border-radius: 62px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 12px 71px 12px 71px;
    text-decoration: none;
    width: 70%;
}

@media (max-width: 880px) {
    .navig {
        display: none;
    }

    .investimento,
    .video-aula {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .investimento-texto,
    .investimento-img {
        align-items: center;
        margin-left: 5vw;
    }

    .investimento-texto h1 {
        margin-bottom: 20px;
    }

    .investimento-texto p {
        margin-bottom: 20px;
        text-align: justify;
    }

    .infoframe h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .infoframe p {
        text-align: justify;
    }




}

@media (max-width:525px) {
    .nav {
        flex-direction: column;
    }

    .nav-menu {
        font-size: 15px;
    }
}

@media (max-width:725px) {
    .imgcontato {
        display: none;
    }


    .rodape {
        flex-direction: column;
        height: 300px;
    }
}