* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.section-banner {
    height: 117px;
    display: flex;
    justify-content: space-around;
    gap: 20vw;
    align-items: center;
    background: #2E948A;

}

#logoheader {
    margin-left: 6vw;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-right: 7vw;
    gap: 3vw;
}

.nav-menu {
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FF4081;
    margin: auto;
}

.titledate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 111px;
    padding-bottom: 74px;
}

.postdate {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #9D9D9D;
    margin: auto;
}

.postbodytop {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 90px;
    align-items: center;
}

.posttext {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    color: #419488;
    margin-left: -410px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    color: #419488;
    margin-left: -485px;
}

.postbodymid {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-bottom: 90px;
    align-items: center;
}

.postbodybot {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-bottom: 90px;
    align-items: center;
}

h4 {
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FF4081;
}

.titlebot {
    background: #F7F7F7;
    margin: auto;
    display: flex;
    justify-content: center;
}

.midup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 87.5px;
    padding-bottom: 110px;
    flex-wrap: wrap;
    background: #F7F7F7;
}

.caixamid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#imgpost {
    width: 55vw;
}

#ilustrap {
    height: 270px;
    width: 288px;
}

#ilustrainv {
    height: 270px;
    width: 238px;
}

#ilustraind {
    height: 270px;
    width: 187px;
}

.subtmidup {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
    margin-top: 45px;
}

.textmidup {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: 23px;
    margin-bottom: 26px;
}

@media (max-width: 990px) {

    h2,
    h3 {
        margin: auto;
    }
}

@media (max-width:1050px) {
    #imgpost {
        width: 90vw;
    }
}


.rodape {
    height: 207px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2E948A;
}

.navig {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.fmenu {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin-right: 5vw;
}

.buttons a {
    background: #419488;
    border-radius: 62px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 12px 71px 12px 71px;
    text-decoration: none;
    width: 70%;
}



@media (max-width: 880px) {
    .navig {
        display: none;
    }

    .midup {
        display: flex;
        flex-direction: column;
    }

    .titledate h1 {
        font-size: 35px;
    }

    .caixamid a {
        margin-bottom: 50px;
    }

    .posttext {
        font-size: 12px;
    }

    h4 {
        margin-top: 50px;
    }
}

@media (max-width: 580px) {
    .navigation2 {
        display: none;
    }


}

@media (max-width: 880px) {
    .navig {
        display: none;
    }


}

@media (max-width:525px) {
    .nav {
        flex-direction: column;
    }

    .nav-menu {
        font-size: 15px;
    }
}

@media (max-width:725px) {
    .imgcontato {
        display: none;
    }

    .rodape {
        flex-direction: column;
        height: 300px;
    }
}